
.sidebar-widget .textwidget a{
	 font-size: 1.154em;
	 text-decoration: none; 
}

.footer-box .textwidget{
	border-bottom: 1px solid #e7e7e7;
	border-color: #333;
	padding: 5px;
}

.a11y-toolbar-widget ul li {
    
    display: inline;
    padding-left: 10px;
}

span.headline {
    float: right;
}

@media only screen and (max-width: 959px) {
    .categories-nav li {
        width: 100% !important;
        float: none;
        font-size: 20px;
        padding: 20px 0px 20px 0px;
        border-bottom: 1px #fff solid;
    }

    .categories-nav {
        display: none;
    }

    .categories-nav ul {
        display: block !important;
        height: auto !important;
        width: 100% !important;
        text-align: center;
    }

    .mobile-toggle-wrapper .navigation-toggle {
        background: rgb(231,231,231);
        min-height: 50px;
    }

    #site-navigation-inner {
        display: none;
    }

    .categories-nav li a:before {
        display: none;
    }
}

@media only screen and (min-width: 959px) {
    .categories-nav {
        display: block !important;
    }

    #site-navigation-inner {
        display: block;
    }

    .categories-nav li a:before {
        display: inherit;
    }

    .categories-nav ul {
        display: inline-flex !important;
        width: 1040px !important;
        text-align: right;
        border-bottom: none !important;
    }
}

.categories-nav , .topFooterItems {
    word-wrap: break-word;
}

.topFooterItems {
    width: 100% !important;
}

#site-navigation-inner {
    float: left;
}

#site-navigation .dropdown-menu {
    width: 100%;
}

#site-navigation .dropdown-menu > li {
    width: 20%;
}