/**
 * Theme Name: Total
 * Description: Customizer CSS
 * Author: WPExplorer
 */

/*--------------------------------------------------------------
 - General Tweaks
--------------------------------------------------------------*/
.customize-control-select select { min-width: 100%; }
/*--------------------------------------------------------------
 - Slider UI
--------------------------------------------------------------*/
li.customize-control.customize-control-wpex_slider_ui input[type=text] {
  width: 20%;
  float: left;
  text-align: center;
}
li.customize-control.customize-control-wpex_slider_ui .ui-slider-horizontal.wpex-slider-ui {
	float: right;
	width: 75%;
	height: 5px;
	margin-top: 10px;
	color: #333;
	position: relative;
	border-radius: 5px;
	border: 1px solid #747474;
	border-bottom-color: #aeaeae;
	background-color: #cdcdcd;
	background: -webkit-linear-gradient(#aaaaaa, #cdcdcd);
	background: -o-linear-gradient(#aaaaaa, #cdcdcd);
	background: -moz-linear-gradient(#aaaaaa, #cdcdcd);
	background: linear-gradient(#aaaaaa, #cdcdcd);
}

li.customize-control.customize-control-wpex_slider_ui .ui-slider-horizontal .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 17px;
	height: 17px;
	cursor: default;
	top: -7px;
	margin-left: -10px;
	border-radius: 50%;
	border: 1px solid #9e9e9e;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	cursor: pointer;
	background-color: #f5f5f5;
	background: -webkit-linear-gradient(#f8f8f8, #ededed);
	background: -o-linear-gradient(#f8f8f8, #ededed);
	background: -moz-linear-gradient(#f8f8f8, #ededed);
	background: linear-gradient(#f8f8f8, #ededed);
	box-shadow: 0 2px 2px rgba(0,0,0,0.24);
}
/*--------------------------------------------------------------
 - Sortable
--------------------------------------------------------------*/
.wpex-sortable ul {
	margin-top: 10px;
}
.wpex-sortable li.wpex-sortable-li {
	cursor: move;
	background: #fafafa;
	padding: 0;
	padding-left: 15px;
	height: 40px;
	line-height: 40px;
	white-space: nowrap;
	border: 1px solid #e5e5e5;
	text-overflow: ellipsis;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #222;
}
.wpex-sortable li.wpex-sortable-li:hover {
	border-color: #999999;
}

.wpex-sortable li.wpex-sortable-li.wpex-hide {
	opacity: 0.75;
	border-color: #e5e5e5;
}

.wpex-sortable li.wpex-sortable-li .dashicons {
	display: block;
	float: right;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-left: 1px solid #e5e5e5;
	margin: 0;
	color: #888;
}

.wpex-sortable li.wpex-sortable-li .wpex-hide-sortee {
	cursor: pointer;
}

.wpex-sortable li.wpex-sortable-li .wpex-hide-sortee:hover {
	color: #222;
}

.wpex-sortable ul li:last-child{
	margin-bottom: 0;
}

.wpex-sortable li.wpex-hide {
	color: #ccc;
	background: transparent;
}